# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
.env
.env.docker

# Тесты
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDE
.idea/
.vscode/
*.swp

# macOS
.DS_Store
